# macOS
.DS_Store

# Swift Package Manager
/.build
/Packages
.swiftpm/
Package.resolved

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj
*.xcworkspace

# Build artifacts
*.o
*.d
*.pcm
*.o.tmp
ModuleCache/

# Example project builds
Examples/**/.build
Examples/**/Package.resolved
Examples/**/.swiftpm

# IDE
.vscode/
.idea/

# Other
.netrc
*.moved-aside
*.xcuserstate
